@font-face {
  font-family: 'CeraProRegular';
  src: url('./assets/fonts/CeraPro-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'CeraProBold';
  src: url('./assets/fonts/CeraPro-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'CeraProBlack';
  src: url('./assets/fonts/CeraPro-Black.otf') format('opentype');
}

html,
body,
#root {
  font-family: 'CeraProRegular', sans-serif !important;
}

.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}
